@import 'semantic-ui';

body {
	font-size: 25px;
	font-family: nunito, Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2em;
	font-weight: 900;
	font-family: nunito, Arial, Helvetica, sans-serif;
}

.ui.dropdown:not(.button) > .default.text {
	color: black !important;
}

#menuLogo {
	font-size: 2.5em;
	font-weight: 700;
	background: rgba(0, 0, 0, 0);
	font-family: nunito, Arial, Helvetica, sans-serif;
}

.hero-section {
	background-image: asset-url('hero.jpg');
	background-size: cover;
	height: 450px;

}

.item {
	color: white !important;
	font-size: 20px;
	font-family: nunito, Arial, Helvetica, sans-serif;
}

#accountDropdown {
	color: white !important;
}

#heroText {
	color: white;
}

.ui.vertical.menu {
	padding: 30px;
}

#headerChatroom {
	background-image: asset-url('hero-chatroom.jpg');
	background-size: cover;
	height: 100px;
	margin-bottom: 50px;
}

.label {
	margin-top: 10px;
}

#chatbox {
	max-height: 400px;
  	overflow-x: scroll;
}

#writeMessageBox {
	margin-top: 20px;
	height: 30px;
}
