@import 'semantic-ui';


body {
	font-size: 16px;
	font-family: nunito, Arial, Helvetica, sans-serif;
}

footer {
	margin-top: 80px;
	margin-bottom: 20px;
}

h1 {
	font-size: 3em;
	font-weight: 900;
	font-family: nunito, Arial, Helvetica, sans-serif;
}

.ui.dropdown:not(.button) > .default.text {
	color: black !important;
}

#menuLogo {
	font-size: 2.5em;
	font-weight: 700;
	background: rgba(0, 0, 0, 0);
	font-family: nunito, Arial, Helvetica, sans-serif;
}

.hero-section {
	background-image: asset-url('hero.jpg');
	background-size: cover;
	height: 450px;

}

.item {
	color: white !important;
	font-size: 20px;
	font-family: nunito, Arial, Helvetica, sans-serif;
}

#accountDropdown {
	color: white !important;
}

#heroText {
	color: white;
}

.ui.vertical.menu {
	padding: 30px;
}

#headerChatroom {
	background-image: asset-url('hero-chatroom.jpg');
	background-size: cover;
	height: 100px;
	margin-bottom: 50px;
}

.label {
	margin-top: 10px;
}

#chatbox {
	max-height: 400px;
  	overflow: auto;
}

#writeMessageBox {
	margin-top: 20px;
	height: 30px;
}

#loginBox {
	margin-top: -150px;
}

.ui.button.button-messagr {
	background-color: #FF4742;
	color: white;
	width: 100%;
}

#loginFormRoot {
	margin: 20px;
}

#signUpPitch {
	margin: 20px;
}

#signUpRoot {
	margin-top: 32px;
}

.highlighted-text {
	background-color: #FFFD55;
}

#githubLink {
	color: black;
	text-decoration: underline;
	font-weight: 800;
	font-size: 16px;
}

#githubDiv {
	margin-top: 20px;
}

#productDescription {
	margin-top: 0;
}

#flashMessages {
	margin-top: 50px;
}
