<div class="ui secondary  menu">
    <div class="ui container">
     
      <div class="right menu">
         <a class="item">
        Chatroom
      </a>
      <a class="item">
        Messages
      </a>
      <a class="item">
         <div class="ui dropdown">
          <input type="hidden" name="account">
          <div class="default text">Account</div>
          <div class="menu">
            <div class="item" data-value="login">Log in</div>
            <div class="item" data-value="logout">Log out</div>
            <div class="item" data-value="signup">Sign up</div>
          </div>
        </div>
        <i class="dropdown icon"></i>
      </a>
      </div>
    </div>
</div>